<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

	<test name="Test">

		<groups>
			<run>
				<!-- <include name="regression" /> -->
				<include name="smoke" />
				
			</run>
		</groups>

		<classes>
			<class name="test.LoginTest"/>
			<class name="test.AddCustomerTest"/>
			<class name="test.ListCustomersTest"/>


		</classes>


	</test>

</suite>